
:root {
    --default-font: 'Helvetica Neue', Helvetica, Tahoma, Verdana, sans-serif;
    --white-color: #f5f8fa;
    --input-color: #495564;
    --input-focus-color: #56677b;
    --histogram-color: #dee7ed;
    --background-color: #1b2126;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1b2126;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: var(--default-font);
    color: var(--white-color);
}

#top-field {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: max(env(safe-area-inset-top), 2rem) max(env(safe-area-inset-right), 2rem)
                2rem max(env(safe-area-inset-left), 2rem);
    background-image: url(../img/street-jan-24-17.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.33fr repeat(2, 1fr) 2fr 2fr;
    background-color: #0b0c0ecc;
    color: white;
}

h1 {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#select-slider {
    width: 4rem;
}

#select-type {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.select-button {
    font-size: 1.3rem;
    cursor: pointer;
}

.select-button-selected {
    font-weight: bold;
    text-transform: uppercase;
}

#histogram-container {
    width: 20rem;
    height: 12rem;
    background-color: #0b0c0eaa;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

main {
    width: 100%;
    min-height: 100%;
    padding: 0rem max(env(safe-area-inset-right), 2rem)
                max(env(safe-area-inset-bottom), 2rem) max(env(safe-area-inset-left), 2rem);
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

#controls {
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    padding: 1.5rem 0;
    border-bottom: 1px solid  var(--white-color);
}

#main-controls {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

#inputs {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

#input-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 1rem;
}

#input-fields {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2rem;
}

#count-matrix-box {
    display: none;
}

#start-value-box {
    display: none;
    padding-left: 1rem;
}

#end-value-box {
    display: none;
}

#inputs label {
    font-size: 0.8rem;
}

#inputs input {
    width: 14ch;
    padding: 0.5rem 0.5rem 0.8rem 0.8rem;
    font-family: var(--default-font);
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--input-color);
    border: 0px solid #0000;
    text-align: center;
}

#inputs input:focus {
    border: 0px solid #0000;
    background-color: var(--input-focus-color);
    box-shadow: none;
    outline: none;
}

#inputs input:read-only {
    background-color: #262f37;
}

#regenerate-icon {
    height: 1.5rem;
    width: auto;
    transform: translateY(0.2rem);
}

#clipboard-icon {
    height: 1.5rem;
    width: auto;
    transform: translateY(0.2rem);
}

#download-icon {
    height: 1.5rem;
    width: auto;
    transform: translateY(0.2rem);
}

#info-and-settings {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

#credits-container {
    position: relative;
    font-size: 0.9rem;
    text-align: right;
    z-index: 50;
}

#credits-panel {
    min-width: 250px;
}

#settings-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

#settings-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
}

.settings-small-text {
    font-size: 0.85rem;
}

#settings-icon {
    width: 1.2rem;
    height: auto;
    transform: translateY(0rem);
}

#credits-panel-container,
#settings-column-container {
    position: absolute;
    top: 100%;
    right: 0;
}

#settings-column {
    min-width: 16rem;
}

#credits-panel,
#settings-column {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    background-color: #1b212699;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    gap: 1.5rem;
}

.settings-column-hidden {
    display: none;
}

.setting-block {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6rem;
}

#copy-and-save {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.settings-option {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.8rem;
}

.settings-option input[type="number"],
.settings-option input[type="text"] {
    width: 80%;
    height: 1.3rem;
    font-family: var(--default-font);
    font-size: 0.85rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--input-color);
    border-width: 0;
    padding: 0.2rem;
}

.settings-option input[type="number"]:focus,
.settings-option input[type="text"]:focus {
    border: 0px solid #0000;
    background-color: var(--input-focus-color);
    box-shadow: none;
    outline: none;
}

#settings-distribution-parameter-1,
#settings-distribution-parameter-2,
#settings-distribution-parameter-3 {
    width: 8ch;
    padding: 0.8rem 0.5rem;
    font-size: 0.95rem;
}

.settings-parameter {
    display: flex;
    flex-flow: column nowrap;
}

.settings-parameter span {
    font-size: 0.75rem;
    color: lightgray;
    white-space: nowrap;
}

#sequence-count-value {
    width: 15ch;
    text-align: center;
}

.linebreak-marking,
.setting-option-label-selected {
    font-weight: bold;
    color:  var(--white-color);
}

.settings-slider-small,
.settings-slider {
    -webkit-appearance: none;
    appearance: none;
    width: min(100%, 12rem);
    height: 1px;
    margin: 0.4rem 0;
    background-color: var(--white-color);
}

.settings-slider-small:disabled,
.settings-slider:disabled {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--input-color);
}

.settings-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 0.2rem;
}

.settings-slider:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #1b2126;
    border: 1px solid var(--input-color);
    cursor: default;
    border-radius: 0.2rem;
}

.settings-slider::-moz-range-thumb {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 0.2rem;
}

.settings-slider:disabled::-moz-range-thumb {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #1b2126;
    border: 1px solid var(--input-color);
    cursor: default;
    border-radius: 0.2rem;
}

.settings-slider-small::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 0.2rem;
}

.settings-slider-small:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #1b2126;
    border: 1px solid var(--input-color);
    cursor: default;
    border-radius: 0.2rem;
}

.settings-slider-small::-moz-range-thumb {
    width: 0.9rem;
    height: 0.9rem;
    background-color: #1b2126;
    border: 1px solid var(--input-color);
    cursor: default;
    border-radius: 0.2rem;
}

.settings-slider-small:disabled::-moz-range-thumb {
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 0.2rem;
}

.settings-slider-value-option {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;

}

#length-digits {
    width: 5ch;
    text-align: center;
}

#output-settings {
    float: left;
}

#settings-container {
    float: right;
    padding: 0.25rem;
}

#settings-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 1rem;;
}


#settings {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1b212699;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 99;
}

#categorical-inputs {
    min-height: 10rem;
    display: none;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#categorical-add-group,
#categorical-add-range {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

#categorical-add-group img,
#categorical-add-range img {
    width: 1.5rem;
    height: auto;
    margin: 0.3rem;
}

.categorical-group {
    display: flex;
    flex-flow: column nowrap;
}

.categorical-elements {
    width: 15rem;
    height: 5rem;
    color: var(--white-color);
    font-size: 1rem;
    font-family: var(--default-font);
    letter-spacing: 0.1rem;
    background-color: var(--background-color);
    padding: 0.5rem;
    resize: none;
}

.categorical-probability {
    color: var(--white-color);
    font-size: 1rem;
    font-family: var(--default-font);
    letter-spacing: 0.1rem;
    background-color: var(--background-color);
    padding: 0.5rem;
}

#output {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    word-spacing: 0.2rem;
}

#output span {
    color: darkgray;
}


@media only screen and (max-width: 420px) {
    html {
        font-size: 14px
    }
}

@media only screen and (min-width: 420px) {
    html {
        font-size: 14.2px;
    }
}

@media only screen and (min-width: 520px) {
    html {
        font-size: 14.6px;
    }
}

@media only screen and (min-width: 590px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 710px) {
    html {
        font-size: 15.7px;
    }
}

@media only screen and (min-width: 760px) {
    html {
        font-size: 15.9px;
    }
}

@media only screen and (min-width: 950px) {
    html {
        font-size: 16.1px;
    }
}

@media only screen and (min-width: 11000px) {
    html {
        font-size: 16.3px;
    }
}

